@import 'settings';
@import 'foundation-emails';

.header {
  background: #333333;
  img {
    height: 80px;
    padding: 10px;
  }
}

.hero {
  background: $hero-background;
  h2 {
    color: $white;
  }
  p {
    color: #8D8D8D;
    line-height: 25px;
  }
}

.hero columns {
  $column-padding-bottom: 0;
}

.video {
  background: $video-background;
  h2 {
    color: $white;
  }
  p {
    color: #632C21;
  }
}

.cta {
  background: $cta-background;
  h2 {
    color: $white;
  }
  p {
    color: #446D8B;
  }
}

.ideas {
    background: #4DAD7F;
  h2 {
    color: $white;
  }
  h3 {
    color: $white;
  }
  p {
    color: #2D5441;
  }
}

.year {
  background: #E7E5D8;
  h3 {
    color: #484948;
  }
  p {
    color: #81817B;
  }
}
